<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Employee Balance Details</h4>
            </div>
            <div class="modal-body">
                <form id="main">

                    <input type="hidden" id="employee_balance_id" />
                    <div class="form-group">
                        <label>Employee</label>
                        <select class="custom-select" id="employee_id"></select>
                    </div>
                    <div class="form-group">
                        <label>Type</label>
                        <select class="custom-select" id="ref_leave_type_id"></select>
                    </div>

                    <div class="form-group">
                        <label for="Name">Acquire</label>
                        <input type="text" class="form-control" id="acquire_date" placeholder="Acquire" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Expire</label>
                        <input type="text" class="form-control" id="expire_date" placeholder="Expire" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Qty</label>
                        <input type="text" class="form-control" id="quantity" placeholder="Qty" />
                    </div>
                    <div class="form-group">
                        <label for="Name">Remarks</label>
                        <input type="text" class="form-control" id="remarks" placeholder="Remarks" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" style="display:none;" onclick="Update();">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
