<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
        <img src="~/img/fastech_logo2.png" class="brand-image" style="float: none;margin-left: 3rem;" />
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-controller="Account" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Admin User</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Employee" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Employee</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="RefShift" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Shift</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="RefTrip" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Trip</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="RefArea" asp-action="Index" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Area</p>
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Health Dec Options</p>
                                </a>
                            </li>*@
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="HealthDeclaration" asp-action="Index">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Health Declaration Form
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="LoginUser" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Employee Login
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Account" asp-action="LoginAdmin" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Admin Login
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>