<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Cutoff Details</h4>
            </div>
            <div class="modal-body">
                <form id="main">

                    <input type="hidden" id="ref_payroll_cutoff_id" />

                    <div class="form-group">
                        <label for="Name">Start</label>
                        <input type="text" class="form-control" id="cutoff_date_start" placeholder="Start" />
                    </div>
                    <div class="form-group">
                        <label for="Name">End</label>
                        <input type="text" class="form-control" id="cutoff_date_end" placeholder="End" />
                    </div>
                    <div class="form-group">
                        <div class="form-check">

                            <input type="checkbox" class="form-check-input" id="government" />
                            <label class="form-check-label" for="Name">Government</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnSave" style="display:none;" onclick="Update();">Save</button>
                <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>
                <button type="button" class="btn btn-danger" id="btnDelete" style="display:none;" onclick="Delete();">Delete</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
