@{
    ViewData["Title"] = "Dashboard";
}

@using System.Security.Claims
@using TPS.Frontend.Infrastructure

@{
    bool hr_manager = false;
    bool admin = false;
    bool employee = false;
    bool approver = false;
    bool manager = false;

    if (User.Identity.IsAuthenticated)
    {
        string access = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;

        // roles
        hr_manager = access.Contains(Enums.Roles.HRManager.ToString());
        admin = access.Contains(Enums.Roles.Admin.ToString());
        employee = access.Contains(Enums.Roles.Employee.ToString());
        approver = access.Contains(Enums.Roles.Approver.ToString());
        manager = access.Contains(Enums.Roles.Manager.ToString());
    }

}


<!-- /.content-header -->

@if (hr_manager || admin)
{
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3 id="leave"></h3>

                    <p>Leave Approvals</p>
                </div>
                <div class="icon">
                    <i class="ion ion-document-text"></i>
                </div>
                <a asp-controller="RequestLeave" asp-action="Approvals" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3 id="overtime"></h3>

                    <p>Overtime Approvals</p>
                </div>
                <div class="icon">
                    <i class="ion ion-ios-time-outline"></i>
                </div>
                <a asp-controller="RequestOvertime" asp-action="Approvals" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3 id="dtr"></h3>

                    <p>DTR Corrections</p>
                </div>
                <div class="icon">
                    <i class="ion ion-calendar"></i>
                </div>
                <a asp-controller="RequestDTR" asp-action="Approvals" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3 id="changeshift">0</h3>

                    <p>Change Shift Approvals</p>
                </div>
                <div class="icon">
                    <i class="ion ion-android-time"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row justify-content-center ">
        <!-- Left col -->


        <section class="col-md-3">
            <div class="small-box">

                <div class="inner text-center">
                    <h2>Total Employees</h2>
                    <h3 id="employees"></h3>


                </div>
                <div class="icon">
                    <i class="ion ion-ios-people"></i>

                </div>

                @*<a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>*@
            </div>
        </section>

    </div>

}


@section scripts {

    <script>

        function GetApprovalsAjax() {
            $.ajax({
                url: "/Dashboard/ForApprovals",
                type: "get",
                success: function (res) {
                    $.each(res, function (i, v) {
                        if (v.type == "EMPLOYEE") {
                            $("#employees").text(v.count);
                        }
                        else if (v.type == "DTR") {
                            $("#dtr").text(v.count);
                        }
                        else if (v.type == "OVERTIME") {
                            $("#overtime").text(v.count);
                        }
                        else if (v.type == "LEAVE") {
                            $("#leave").text(v.count);
                        }

                    });
                },
                error: function (err) {
                    console.log(err)
                }
            });
        }



        $(document).ready(function () {

            GetApprovalsAjax();
        });


    </script>

}