<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitHost" value="198.38.93.2" />
    <add key="RabbitUsername" value="admin" />
    <add key="RabbitPassword" value="admin" />
    <add key="VirtualHost" value="/" />
    <add key="ParentExchange" value="e.central" />
    <add key="Exchange" value="e.tps" />
    <add key="Queue" value="q.tps.0" />
    <add key="Consumer" value="c.tps.0" />
    <add key="RoutingKey" value="r.tps.0" />
    <add key="Instance" value="0" />
    <add key="Connectionstring" value="mongodb://admin:p%40%24%24SSw0rdqwerty143@198.38.93.2:11027/?authSource=admin&amp;readPreference=primary&amp;appname=MongoDB%20Compass&amp;ssl=false" />
    <add key="DatabaseName" value="payrolldb" />
    <add key="LogPath" value="C:/Logs/tps.1" />
    <add key="RetryCount" value="5" />
    
    <add key="FileUploadInProgress" value="C:\Uploads\In-Progress\" />
    <add key="FileUploadDone" value="C:\Uploads\Done\" />
  </appSettings>
</configuration>