@{
    Layout = null;
}
@model TPS.Frontend.Infrastructure.RequestDtr
<div class="alert alert-danger" role="alert" id="error-summary">
</div>
<form asp-action="AddOrEdit" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <input type="hidden" asp-for="EmployeeId" />
    <input type="hidden" asp-for="FirstName" />
    <input type="hidden" asp-for="LastName" />
    <input type="hidden" asp-for="IsNightShift" />
    <input type="hidden" asp-for="ApprovalStatusId" />
    <input type="hidden" asp-for="ApprovalStatusName" />
    <input type="hidden" asp-for="ApproveDate" />
    <input type="hidden" asp-for="ApproverName" />
    <input type="hidden" asp-for="ApproverRemarks" />
    <input type="hidden" asp-for="Approvers" />
    <input type="hidden" asp-for="ApproverUserId" />
    <input type="hidden" asp-for="CreateDate" />
    <input type="hidden" asp-for="ShiftIn" />
    <input type="hidden" asp-for="ShiftOut" />
    <input type="hidden" asp-for="ShiftName" />
    <input type="hidden" asp-for="GroupName" />
    <input type="hidden" asp-for="GroupId" />
    <input type="hidden" asp-for="ActualIn" />
    <input type="hidden" asp-for="ActualOut" />


    <div class="form-group" data-target="#date-shift" data-toggle="datetimepicker">
        <label for="ShiftDate">Date</label>
        <div class="input-group date" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" id="date-shift" asp-for="ShiftDate" placeholder="Date" />
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label>Shift Name</label>
        <select class="custom-select" id="shiftselect" asp-for="ShiftId"></select>
    </div>
    <div class="form-group" data-target="#time-in" data-toggle="datetimepicker">
        <label for="ActualIn">Time In</label>
        <div class="input-group date" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" id="time-in" placeholder="Time In" />
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-clock"></i></div>
            </div>
        </div>
    </div>

    <div class="form-group" data-target="#time-out" data-toggle="datetimepicker">
        <label for="ActualOut">Time Out</label>
        <div class="input-group date" data-target-input="nearest">
            <input type="text" class="form-control datetimepicker-input" id="time-out" placeholder="Time Out" />
            <div class="input-group-append">
                <div class="input-group-text"><i class="fa fa-clock"></i></div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Remarks">Remarks</label>
        <input type="text" class="form-control" asp-for="Remarks" placeholder="Remarks" />
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        @if (Model.ApprovalStatusName != "APPROVED")
        {
            <button type="submit" class="btn btn-primary">Submit</button>
        }
    </div>
</form>